<!--<style type="text/css">-->
    <!--body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}-->
<!--</style>-->

<!--<div class="TopBox2"></div>-->


<!--<p>This is the we/weIndex view.</p>-->
<!--联系我们222-->
<!--<button  ng-click="testClick()"> 确认添加  </button>-->

<!--<div id="allmap" style="width: 800px;height: 600px">11111</div>-->

<div class="lxwmTop"><img src="../../imgs/lxwm/lxwmTop_1.png" style="height: 100%;width: 100%"></div>
<div style="height: 5px;"></div>

<!--该区域高度定死了有问题-->
<div style="width: 100%;height:500px;">
    <app-map style="height:330px;width: 750px;margin:5px auto;box-shadow:0 3px 15px black;" address="{{address}}"> </app-map>

    <div style="height: 10px;"></div>

    <div style="margin: auto;width: 750px;border:0px solid red;">
        <div style="width: 70px;float: left;display: inline-block">&nbsp;</div>
        <div style="width: 30%;float:left;display: inline-block;border:0px solid red;">
            <img src="../../imgs/lxwm/phone_1.png" >
            <div>热线电话</div>
            <div>400-626-9696</div>
        </div>
        <div style="width: 30%;float: left;display: inline-block">
            <img src="../../imgs/lxwm/location.png" >
            <div>地址</div>
            <div>武汉市江汉区中央商务区淮海路中段泛海国际SOHO城8号楼1702室</div>
        </div>
        <div style="width: 30%;float: left;display: inline-block">
            <img src="../../imgs/lxwm/letter.png" >
            <div>E-mail</div>
            <div>2355458305@qq.com</div>
        </div>
    </div>

</div>


