<link rel="stylesheet" href="../../css/css.css">
<style>
  /*.welcom{display: block;position: absolute;z-index: 100;top: 160px;width: 100%;left: 0}*/
  /*.welcom img{display: block;margin: 0 auto}*/
  /*.m_title{display: block;margin: 0 auto;padding-top: 20px;}*/
  /*.m_div{width: 1025px;padding: 40px 0;margin: auto;height: 300px}*/
  /*.m_button{display: inline-block;margin: 0 22px 0 118px;width: 170px;height: 250px;text-align: center;font-weight: bold}*/
  /*.m_button span{display: block;position: relative;right: 5px;width: 180px;height: 32px;font-size: 16px;line-height: 28px;color: black;border: 2px solid rgb(183,183,183);border-radius: 16px;margin-top: 20px}*/
  /*.m_button:hover span{color: rgb(242,111,21);border: 2px solid rgb(242,111,21);border-radius: 16px;}*/
</style>
<div class="body">
  <div class="bannerbox">
    <div class="banner">
      <img class="banner_img" src="../../imgs/merchants/b69fd08e1ec5b4d10f409471afdf9ed184cffc32838412.png">
      <div class="welcom">
        <img  src="../../imgs/merchants/welcome.png">
      </div>
    </div>
  </div>
  <img class="m_title" src="../../imgs/merchants/title.png">
  <div class="m_div">
    <a class="m_button">
      <img src="../../imgs/merchants/pen.png">
      <span>我是组团社（门市）</span>
    </a>
    <a class="m_button">
      <img src="../../imgs/merchants/flag.png">
      <span>我是地接社</span>
    </a>
    <a class="m_button">
      <img src="../../imgs/merchants/bus.png">
      <span>我是车队</span>
    </a>
  </div>
</div>
