<style>

</style>
<div class="body">
  <div class="bannerbox">
    <div class="banner">
      <img class="banner_img" src="../../imgs/introduce/0f414b77ec69f3ccb73e3a3c402a4cf702e429149a378-RQ6sQF.png">
    </div>
  </div>
  <div class="aboutus_div">
    <img class="aboutus_title" src="../../imgs/introduce/1-3.png">
    <div class="aboutus_details">
      <div class="aboutus_details_1left"><img src="../../imgs/introduce/logo.png"></div>
      <div class="aboutus_details_1right">
        <p>趣鸥旅游网是武汉睿诚国际旅行社有限公司在2009年研发的欧洲地接操作系统基础上经过优化和完善后，面向全球组团社推出的专业欧洲旅游资源共享网站。</p>
        <p>作为中国领先的旅游资源整合平台，趣鸥网一直致力于用前卫的理念和优秀的服务改变目前的旅游供应链的落后状况。</p>
        <p>致力于帮助全国近万家出境游组团社提高沟通效率，缩短资源流通环节，降低组团社供应链成本。全流程精细化管控从组团到地接的每一处细节。</p>
        <p>同时提高组团社收入，减少资金滞留风险，促进资源合理分配。</p>
        <p>趣鸥网以惊人的发展速度全国扩张，获得众多投资机构的关注，创造业界奇迹。到2016年底，趣鸥网计划覆盖全国所有大中型城市。</p>
      </div>
    </div>
  </div>
  <div style="width: 100%;height: 455px" class="backgroundc_229">
    <div class="aboutus_div backgroundc_229">
      <img class="aboutus_title" src="../../imgs/introduce/1-4.png">
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
      <div class="img_honor"></div>
    </div>
  </div>
  <div class="aboutus_div">
    <img class="aboutus_title" src="../../imgs/introduce/1-5.png">
    <div class="aboutus_details">
      <div class="aboutus_details_2left">
        <ul>
          <li class="year">
            <div class="li_title">
              <span>&nbsp;2016&nbsp;</span>
              <img class="clock" src="../../imgs/introduce/clock.png">
            </div>
            <ul>
              <li class="month">
                <div class="month_title">
                  <span>8月</span>
                  <img class="ring" src="../../imgs/introduce/ring.png">
                </div>
                <div class="month_details">
                  <p>趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥</p>
                </div>
              </li>
              <li class="month">
                <div class="month_title">
                  <span>7月</span>
                  <img class="ring" src="../../imgs/introduce/ring.png">
                </div>
                <div class="month_details border_w">
                  <p>趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥</p>
                </div>
              </li>
            </ul>
          </li>
          <li class="year">
            <div class="li_title">
              <span>&nbsp;2015&nbsp;</span>
              <img class="clock" src="../../imgs/introduce/clock.png">
            </div>
            <ul>
              <li class="month">
                <div class="month_title">
                  <span>8月</span>
                  <img class="ring" src="../../imgs/introduce/ring.png">
                </div>
                <div class="month_details">
                  <p>趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥</p>
                </div>
              </li>
              <li class="month">
                <div class="month_title">
                  <span>7月</span>
                  <img class="ring" src="../../imgs/introduce/ring.png">
                </div>
                <div class="month_details border_w">
                  <p>趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥趣鸥</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="aboutus_details_2right"><img src="../../imgs/introduce/bus.png"></div>
    </div>
  </div>
</div>
