<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->


<style type="text/css">
  .parent{
    width:400px;
    height:400px;
    border:1px solid red;
  }
  .children{
    border:1px solid blue;
    height:50px;
    display:inline-block;
    *display:inline;
    *zoom:1;
  }

  .xhtysTr1{
    border: 0px solid red;display: inline-block;width:335px;height: 33%;
  }
  .xhtysTr2{
    border: 0px solid red;display: inline-block;width:320px;vertical-align: top
  }
  .xhtysTd1{
    position: relative;top:12px;left: 10px;text-decoration:underline;
  }
  .xhtysTd2{
    font-size: 13px;width:280px;position: relative;top: 25px;left: 10px;
  }
</style>


<div class="fixed_r">
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <!--<li>4</li>-->
    <!--<li>5</li>-->
    <!--<li>6</li>-->
  </ul>
</div>



<div class="num_box">
  <div class="num" id="num_0">
    <!--第一页-->
    <!--什么是循环团-->
    <img src="../imgs/lxwm/moveTag_1.png" style="position: relative;top: 25%;left: -200px">

  </div>

  <div class="num" id="num_1">
    <div style="border: 0px solid blue;width: 1020px;height: 580px;position: relative;top: 150px;left: 15%">
      <div style="height: 130px;">
        <img src="../imgs/lxwm/moveTag_4.png" style="display: block">
      </div>
      <div style="height: 70px;"></div>

      <div style="display: inline-block;border: 0px solid blue;width: 330px;vertical-align: top"></div>

      <div style="border: 0px solid blue;display: inline-block;width: 670px;height: 350px;text-align: left;font-size: 21px;">
        <div class="xhtysTr1">
          <img src="../imgs/lxwm/01.png" style="float: left">
          <span style="position: relative;top:12px;left: 10px;text-decoration:underline;" >
            自由上车
          </span>
          <div style="font-size: 13px;width:280px;position: relative;top: 25px;left: 10px;">
            旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。
          </div>
        </div>
        <div class="xhtysTr2">
          <img src="../imgs/lxwm/02.png" style="float: left">
          <span class="xhtysTd1">
            自由下车
          </span>
          <div class="xhtysTd2">旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。</div>
        </div>

        <div class="xhtysTr1">
          <img src="../imgs/lxwm/03.png" style="float: left">
          <span class="xhtysTd1">
            随心搭配
          </span>
          <div class="xhtysTd2">旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。</div>
        </div>

        <div class="xhtysTr2">
          <img src="../imgs/lxwm/04.png" style="float: left">
          <span class="xhtysTd1">
            天数自定
          </span>
          <div class="xhtysTd2">旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。</div>

        </div>

        <div class="xhtysTr1">
          <img src="../imgs/lxwm/05.png" style="float: left">
          <span class="xhtysTd1">
            周周出发
          </span>
          <div class="xhtysTd2">旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。</div>
        </div>

        <div class="xhtysTr2">
          <img src="../imgs/lxwm/06.png" style="float: left">
          <span class="xhtysTd1">
            100%
          </span>
          <div class="xhtysTd2">旅游期间每天按照固定行程走到，不受人数影响，保证出发时间。</div>
        </div>
      </div>
    </div>
  </div>


  <div class="num" id="num_2">
    <!--循环巴士游戏-->
    <img src="../imgs/lxwm/moveTag_2.png" style="position: relative;top: 35%;">
  </div>


  <div class="num" id="num_3">
  </div>
  <div class="num" id="num_4">
  </div>
  <div class="num" id="num_5">
  </div>
</div>



<input type="hidden" value="0" class="ddw"/>
<input type="hidden" value="0" class="ddw2"/>
<script type="text/javascript" src="js/scroll.js" ></script>
<script type="text/javascript" src="js/jquery.mousewheel.js" ></script>



