<!--<div class="jumbotron">-->
<!--<h1>'Allo, 'Allo!</h1>-->
<!--<p class="lead">-->
<!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
<!--Always a pleasure scaffolding your apps.-->
<!--</p>-->
<!--<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
<!--<h4>HTML5 Boilerplate</h4>-->
<!--<p>-->
<!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
<!--</p>-->

<!--<h4>Angular</h4>-->
<!--<p>-->
<!--AngularJS is a toolset for building the framework most suited to your application development.-->
<!--</p>-->

<!--<h4>Karma</h4>-->
<!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->
<div class="fixed_r">
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
  </ul>
</div>
<div class="num_box">
  <div class="num" id="num_0">
    <p>
      <!--什么是循环团-->
      <img src="../imgs/lxwm/moveTag_1.png">
    </p>
  </div>
  <div class="num" id="num_1">
    <p>
      <!--循环团优势-->
    <div><img src="../imgs/lxwm/moveTag_4.png"></div>
    <!--<table>-->
    <!--<tr>-->
    <!--<td>1</td>-->
    <!--<td>2</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>3</td>-->
    <!--<td>4</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>5</td>-->
    <!--<td>6</td>-->
    <!--</tr>-->
    <!--</table>-->
    </p>
  </div>
  <div class="num" id="num_2">
    <p>
      <!--循环巴士游戏-->
      <img src="../imgs/lxwm/moveTag_2.png">
    </p>
  </div>
  <div class="num" id="num_3">
    <p>
      <!--www.internetke.com第4屏-->
      <img src="../imgs/lxwm/moveTag_1.png">
    </p>
  </div>
  <div class="num" id="num_4">
    <p>
      <!--www.internetke.com第5屏-->
      <img src="../imgs/lxwm/moveTag_4.png">
    </p>
  </div>
  <div class="num" id="num_5">
    <p>
      <!--www.internetke.com第6屏-->
      <img src="../imgs/lxwm/moveTag_2.png">
    </p>
  </div>
</div>
<input type="hidden" value="0" class="ddw"/>
<input type="hidden" value="0" class="ddw2"/>
<script type="text/javascript" src="js/scroll.js" ></script>
<script type="text/javascript" src="js/jquery.mousewheel.js" ></script>


